<!DOCTYPE html>
<html lang="en">



<body ondragstart="return false" draggable="false" ondragenter="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();"
  ondragover="event.dataTransfer.dropEffect='none';event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect='none';event.stopPropagation(); event.preventDefault();">


  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left noselect">
        <a href="#hero"><img id="codeLogo" src="assets/img/logo.svg" alt="" title="" /> </a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active noselect"><a style="color:aliceblue;" (click)="scroll('#hero')"><i class="fas fa-home"></i></a></li>
          <li class="noselect"><a style="color:aliceblue;" (click)="scroll('#about')">Hakkımızda</a></li>
          <li class="noselect"><a style="color:aliceblue;" (click)="scroll('#categories')">Kategoriler</a></li>
          <li class="noselect"><a style="color:aliceblue;" (click)="scroll('#sponsors')">Sponsorlar</a></li>
          <li class="noselect"><a style="color:aliceblue;" (click)="scroll('#team')">Ekip</a></li>
          <li class="noselect"><a data-toggle="modal" data-target="#faq" style="color:aliceblue;">S.S.S</a></li>


          <li><a style="color:aliceblue;" (click)="scroll('#footer')">İletişim</a></li>
          <li class="noselect">
            <a class="notification-trigger">
              <i style="color:white" class="fas fa-bell"></i>
              <div class='notification-num'>1</div>
            </a>
          </li>



        </ul>
      </nav><!-- #nav-menu-container -->

    </div>
  </header><!-- #header -->

  <div class="panel">
    <p class="closeNotification">X</p>
    <div class="title">Notifications</div>
    <ul class="notification-bar">
      <li class="unread">
        <i class="far fa-hand-point-up"></i>
        <div>2018 yılı için başvurular sona ermiştir. (yeni)</div>
      </li>

      <li>
        <i class="far fa-hand-point-down"></i>
        <div>Niyet mektubu örneği için tıklayınız.</div>
      </li>
      <li>
        <i class="far fa-hand-point-down"></i>
        <div>Dereceye giren olan ve Hacktrick
          etkinliğinde kazanacaktır.</div>
      </li>
      <li>
        <i class="far fa-hand-point-down"></i>
        <div>Niyet mektubu örneği için tıklayınız.</div>
      </li>
      <li>
        <i class="far fa-hand-point-down"></i>
        <div>Etkinlikteki program akışı için tıklanıyınız. </div>
      </li>

      <li>
        <i class="far fa-hand-point-down"></i>
        <div>Dereceye giren olan ve Hacktrick
          etkinliğinde kazanacaktır.</div>
      </li>

    </ul>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="faq" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

      <div class="modal-body">
        <div class="c">
          <h2 class="text-center">Sıkça Sorulan Sorular</h2>
          <ul class="sss">
            <li>
              <h3>CodeOfDuty nedir?</h3>
              <p>Code of Duty, IzHack(siber güvenlik), BrainHack(algoritma geliştirme) ve BuildUp(oyun geliştirme)
                isimli 3 ana kategorisiyle 3 farklı alanda 3 ayrı yarışmayı bünyesinde barındıran 48 saat sürecek bir
                etkinliktir.</p>
            </li>
            <li>
              <h3>Amaç nedir?</h3>
              <p>Heyecanlı bir ortam yaratarak yazılım alanıyla ilgilenen kişilere birbirleriyle mücadele etme ve
                Türkiye’nin her kesiminden yazılım alanıyla ilgili öğrencileri ve yazılım sektörünü bir araya getirerek
                tanışma fırsatı sunmaktır.</p>
            </li>
            <li>
              <h3>Ne zaman ve nerede?</h3>
              <p>9-10-11 Mart 2018 tarihlerinde İzmir Yüksek Teknoloji Enstitüsü Kampüsünde gerçekleşecektir.</p>
            </li>
            <li>
              <h3>Kim düzenliyor?</h3>
              <p>Biz IEEE İYTE öğrenci topluluğu olarak sponsorlarımızın da desteğiyle bu etkinliği düzenliyoruz.</p>
            </li>
            <li>
              <h3>Yarışmaya katılımcı sayısı sınırlı mı?</h3>
              <p>Evet, farklı sayıda kişiler bulundurmakla beraber her kategoriden 16’şar takım kabul edilecektir.
                BuildUp takımları 4-6, BrainHack takımları 2-3, IzHack takımları ise 3-4 kişiden oluşmalıdır.</p>
            </li>
            <li>
              <h3>Başvurular bireysel mi olacak, takım halinde mi?</h3>
              <p>Başvurular yalnızca takımlar halinde olmalıdır.</p>
            </li>
            <li>
              <h3>Nerede konaklayacağım?</h3>
              <p>Tarafımızdan herhangi bir konaklama düzenlemesi yapılmamaktadır. Fakat uyku tulumu, kamp malzemesi vb.
                yanınızda getirerek etkinlik alanında uyku için ayrılan alanlarda konaklayabilirsiniz.</p>
            </li>
            <li>
              <h3>İhtiyaçlarımı nerede/nasıl karşılayacağım?</h3>
              <p>Yiyecek ve içecek ihtiyaçlarınız ise ekibimiz tarafından karşılanacaktır.</p>
            </li>
            <li>
              <h3>Herhangi bir eğitim olacak mı?</h3>
              <p>Hayır, eğitim olmayacaktır.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>



  <div class="socialContainer">
    <ul class="social">
      <li>
        <a href="https://twitter.com/ieeecodeofduty" class="tw">
          <i class="fab fa-twitter-square"></i>

        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/IztechCodeofDuty" class="fb">
          <i class="fab fa-facebook-square"></i>

        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/iztechcodeofduty/" class="ins">
          <i class="fab fa-instagram"></i>

        </a>
      </li>
    </ul>
  </div>





  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="clickMe" ondragstart="return false" draggable="false" ondragenter="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();"
      ondragover="event.dataTransfer.dropEffect='none';event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect='none';event.stopPropagation(); event.preventDefault();">Rüzgar
      için tıklayınız</div>

    <div class="hero-container">
      <h1 class="headerText noselect">Code of Duty'ye Hoşgeldiniz</h1>
      <h2 class="welcomingText noselect"> <img width="15vh" src="assets\img\1.png"> ETKİNLİKTEN <img width="15vh" src="assets\img\3.png">
        KAT FAZLASI</h2>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScfK6Jb-N7BWdw7mpM5sLI86heehoWvB75csLb6wceZkDnLWg/viewform?usp=send_form"
        target="_blank" class="btn-get-started noselect">Aramıza Katıl!</a>
    </div>


    <!--==========================
    Game Section
  ============================-->
    <div id="world"></div>
    <!--==========================
    Game Section
  ============================-->

  </section><!-- #hero -->


  <main id="main">


    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 text-center">
            <p class="aboutUsHeader"> Hakkımızda</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <br>
            <p class="aboutText">Code of Duty, IEEE İYTE öğrenci topluluğu tarafından gerçekleştirilecek bir yazılım
              maratonudur. Code of Duty'nin amacı yazılım alanıyla ilgilenen kişilere birbirleriyle mücadele etme
              fırsatı sunmakla birlikte Türkiye’nin her kesiminden öğrencileri ve yazılım sektörünü bir araya getirerek
              tanışma olanağı sağlamaktır.Ülkemizde daha önce benzeri yapılmamış olan bu etkinliği diğer
              organizasyonlardan farklı kılan nokta yetenekli ve yazılım konusunda ilgili olduğu ölçüde bilgiye de
              sahip kişileri ortaya çıkarmayı ve de sektörün ihtiyacı olan donanımlı işgücü ile tanıştırmayı birincil
              hedef olarak gütmesidir. Bu hedefine ise tek bir alanla sınırlı kalmayıp Siber Güvenlik, Oyun Geliştirme
              ve Algoritma alanlarında donanımlı kişileri buluşturarak ulaşmak istemektedir. Bu amaçlar doğrultusunda
              etkinliğimiz üç ana kategoriden oluşmaktadır: IzHack, BuildUp, BrainHack. Her bir kategori kendi
              konseptine sahip olmakla birlikte farklı değerlendirmelere tabi tutulacaktır.</p>
            <br>

          </div>
        </div>


      </div>


      <!-- #about -->


    </section>



    <!-- #categories -->
    <section id="categories">

      <div>

        <div style="margin-bottom: 4vh" class="row">
          <div class="col-lg-12 text-center">
            <p class="categoriesHeader"> Kategoriler</p>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-lg-4">
            <div class="card" style="width: 25rem;">
              <div class="card-img-top"></div>
              <div class="card-body">
                <h4 class="card-title">BrainHack</h4>
                <p class="card-text">BrainHack, yarışmacıların 48 saatte onlara verilen problemleri C, Python ve Java
                  dilleriyle çözmeleri beklenen bir "Algoritma Geliştirme" yarışmasıdır.</p>
                <button type="button" class="brainBtn" data-toggle="modal" data-target="#brain">Detaylar</button>

                <!-- Modal -->
                <div class="modal fade" id="brain" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">

                    <div class="modal-body">
                      <div class="c">

                        <p id="brainDetailHeader">BrainHack</p>
                        <div class="card-img-top-modal1"></div>

                        <p>BrainHack, Code of Duty etkinliğinin, algoritma ve programlama üzerine meraklı kişileri bir
                          araya getiren programlama yarışmasıdır. Yarışmacılardan beklenen farklı programlama
                          dilleriyle farklı yapılardaki programlama sorularını belirli bir süre içerisinde doğru
                          sonuçlara ulaştırmalarıdır. Kategorinin amacı programlama hakkında bilgilendirme,
                          bilinçlendirme, farkındalık yaratma ve bu alanla uğraşan insanların tanışması için verimli
                          bir ortam yaratmaktır.</p>

                        <p><b>Kimler katılabilir?</b></p>
                        <p>Katılımın ücretsiz olduğu ve kurumları temsilen oluşturulan takımların yanı sıra bağımsız
                          ekiplerin de katılabildiği programlama yarışması; üniversite öğrencilerine, kamu
                          kuruluşlarına oluşan ve diğer takımlara kendilerini gösterme imkanı ve tecrübe kazanımı
                          sağlayacaktır. Etkinlik sayesinde eksikliklerinizi görerek kendinize ve ekibinize deneyim
                          kazanımı sağlayabilirsiniz.</p>

                        <p><b>Kategori Kuralları Nelerdir?</b></p>
                        <ul style="list-style: none">
                          <li>Bir takımdaki üye sayısı en az 2 ve en fazla 3 kişi olacaktır.</li>
                          <li>Yarışmada aşağıda belirtilen dilleri kullanabilirsiniz:
                            <ul style="list-style: none">
                              <li>C (C11)</li>
                              <li>C++ (C++11)</li>
                              <li>Java (7)</li>
                              <li>Python (2, 3)</li>
                            </ul>
                          </li>
                          <li>Yarışma İzmir Yüksek Teknoloji Enstitüsü kampüs alanında gerçekleşecektir.</li>
                          <li>Yarışmacıların yarışma süresince soruları İnternet üzerinden yayınlaması, forum
                            sayfalarına koyması, e-posta gibi yöntemlerle takım elemanları haricinde üçüncü şahıslar
                            ile paylaşması diskalifiye sebebidir.</li>
                          <li>Sorular zorluk derecelerine göre farklı puanlara sahiptir.</li>
                          <li>Sorulan programlama sorularını belli bir sure zarfında çözmeniz beklenmektedir.</li>
                          <li>Çözümlerin puanlandırılması çıktılar üzerinden gerçekleşecektir.</li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>


              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card" style="width: 25rem;">
              <div class="card-img-top2"></div>
              <div class="card-body">
                <h4 class="card-title">BuildUp</h4>
                <p class="card-text">BuildUp, yarışmacıların 48 saatte onlara verilen fotoğraf/video çerçevesinde oyun
                  geliştirdikleri ve sundukları Global Game Jam (GGJ) tarzı bir yarışmadır.</p>
                <button class="buildBtn" data-toggle="modal" data-target="#build">Detaylar</button>


                <!-- Modal -->
                <div class="modal fade" id="build" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">

                    <div class="modal-body">
                      <div class="c">

                        <p id="buildupDetailHeader">BuildUp</p>
                        <div class="card-img-top-modal2"></div>

                        <p>BuildUp, Code of Duty etkinliğinin 48 saatlik bir oyun tasarlama ve geliştirme
                          maratonudur. 48 saatlik maraton, konsepti GGJ (Global Game Jam), Ludum Dare gibi dünya
                          çapında düzenlenen etkinliklere benzeyen ve Türkiye çapında düzenlenen bir Game Jam’dir.</p>

                        <p>Bağımsız oyun geliştiricilerinin ve amatörlerin yaratıcılıklarını sergileyebilecekleri bir
                          platform oluşturmayı hedefleyen BuildUp, takımlar halinde katılacak oyun
                          geliştiricilerinin, organizasyon tarafından belirlenecek bir tema çerçevesinde sıfırdan bir
                          oyun geliştirmeleri esasına dayanır. Etkinlik, oyun geliştirme dünyasına girmek isteyen
                          herkese bir başlangıç noktası olmayı hedeflemektedir.</p>

                        <p><b>Game Jam Nedir?</b></p>

                        <p>Game Jam, oyun geliştiricilerinin hep birlikte oyun geliştirmeleri, bilgi ve tecrübe
                          paylaşımı yapabilmeleri için düzenlenen bir etkinliktir.</p>
                        <p>Game Jam’de genel olarak amaç, önceden belirlenmiş bir süre içinde oyun geliştirmektir.</p>
                        <p>Birçok Game Jam’de oyun geliştirmeye başlanmadan önce bir tema belirlenir ve
                          geliştiriciler oyunlarını bu tema üzerinden geliştirir. Bu şekilde geliştiriciler
                          yaratıcılıklarını oyunlarında gösterme fırsatı bulur.</p>
                        <p>Game Jam’ler genellikle yarışma şeklinde yapılır ve beğenilen oyunlara ödüller verilir.
                          Ama asıl amaç yarışmak değil paylaşımdır.</p>

                        <p><b>BuildUp Nasıl Olacak?</b></p>
                        <ul style="list-style: none">
                          <li>Etkinlik başlangıcında takımlara tema açıklanacak,</li>
                          <li>Oyun geliştirme 48 saat sürecek,</li>
                          <li>48 saatin sonunda kapanış törenine geçilecek ve takımlar oyunlarının sunumunu yapacak,</li>
                          <li>Sunumlar sonunda jüri tarafından atmosfer (Oyunun görsel tasarımı, kullanıcı arayüzü ve
                            ses efektleri), oynanabilirlik (Oyunun kontrol mekanizması ve kullanıcı ile etkileşim
                            başarısı) ve kurgu (Oyun fikri, hikayesi ve tutarlılığı) &nbsp;kriterleri göz önüne
                            alınarak değerlendirme yapılacaktır.</li>
                        </ul>

                        <p><b>Kategori Kuralları Nelerdir?</b></p>

                        <p>BuildUp süresince oyun geliştiren yarışmacılar, oyunun yapımcılarıdır. Telif üzerinde de
                          yapımcı olarak geşeceklerdir.Telif hakkı kategori sponsoru olan Ege İhracatçı Birlikleri'ne
                          ait olacaktır. Ayrıca yarışmaya katılmakla oyunların IEEE İYTE öğrenci topluluğunca
                          kullanma ve halka açık bir yerde sunma hakkı bulunduğunu kabul etmiş sayılırsınız.</p>
                        <p>Başvurular grup olarak alınacaktır. Gruplar 4-6 kişiden oluşacaktır.</p>
                        <p>Tema, açılış töreninde duyurulacağından bütün ekiplerin açılış töreninde bulunması
                          gerekmektedir.</p>
                        <p>Oyunlar mobil uyumlu ve offline şekilde oynanabilir olmalıdır (Unity kullanılmasında bir
                          sakınca yoktur).</p>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card" style="width: 25rem;">
              <div class="card-img-top3"></div>
              <div class="card-body">
                <h4 class="card-title">IzHACK</h4>
                <p class="card-text">IzHack, yarışmacıların 48 saatte onlara verilen çeşitli kategorilerde belirlenen
                  bayrağa diğer katılımcılardan önce ulaşıp puan aldıklar CTF yarışmasıdır.</p>
                <button class="hackBtn" data-toggle="modal" data-target="#hack">Detaylar</button>
                <!-- Modal -->
                <div class="modal fade" id="hack" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">

                      <div class="modal-body">
                        <div class="c">

                          <p id="hackDetailHeader">IzHack</p>
                          <div class="card-img-top-modal3"></div>

                          <p>İzmir Yüksek Teknoloji Enstitüsü’nde ilk olarak 2015 yılında yapılan siber güvenlik
                            üzerine meraklı kişilerin katılabileceği CTF etkinliğidir. Siber güvenlik üzerine
                            bilgilendirme, bilinçlendirme,farkındalık yaratma, ve eğitim amacıyla yapılan etkinlik, bu
                            sene Code of Duty bünyesinde gerçekleştirilecektir.</p>

                          <p><b>CTF nedir?</b></p>
                          <p>Capture The Flag (bayrağı yakala) etkinliğinde güvenliğe meraklı kişiler; kriptoloji ve
                            tersine mühendislik, web, forensic gibi çeşitli dallarda, belirlenen bayrağa diğer
                            katılımcılardan önce ulaşmak için sistemlerdeki güvenlik açıklarından yararlanarak bayrağı
                            yakalamaya çalışırlar.</p>

                          <p><b>Kimler katılabilir?</b></p>
                          <p>Katılımın ücretsiz olduğu ve kurumları temsilen oluşturulan takımların yanı sıra bağımsız
                            ekiplerin de katılabildiği CTF; üniversite öğrencilerine, siber güvenlik meraklılarına,
                            kamu kuruluşlarına kendilerini gösterme, tecrübe kazanma deneyimi sağlıyor.Etkinlik
                            sayesinde eksikliklerinizi görerek kendinize ve ekibinize deneyim sağlayabilirsiniz.</p>

                          <p><b>Kategori Kuralları Nelerdir?</b></p>

                          <p>Etkinlik esnasında yarışmacılar, CTF ile ilgili soruları sadece yarışma alanındaki
                            görevlilere sorabilirler.</p>

                          <p>Bir takımdaki üye sayısı en az 3 ve en fazla 4 kişi olacaktır..</p>

                          <p>Yarışmaya dış ağdan erişim mümkün olmayacaktır.</p>

                          <p>Yarışmacıların ethernet girişli bilgisayar ile yarışmaya katılmaları gerekmektedir.</p>

                          <p>Güvenlik açısından kurumsal veri bulunduran bilgisayarların / veri depolama ortamlarının
                            yarışmaya getirilmemesi önerilmektedir. CTF ortamının güvenliği sağlanmış olmasına rağmen,
                            yarışmacılar kendi bilgisayarlarının güvenliğinden sorumludur. Aksi davranıştan doğan
                            zararlardan, yarışma esnasında oluşabilecek veri kayıplarından ekibimiz sorumlu değildir.</p>

                          <p>Elde edilen bayrakların değiştirilmesi, taşınması veya silinmesi diskalifiye sebebidir.</p>

                          <p>Yarışmacıların yarışma süresince soruları İnternet üzerinden yayınlaması, forum
                            sayfalarına koyması, e-posta gibi yöntemlerle takım elemanları haricinde üçüncü şahıslar
                            ile paylaşması diskalifiye sebebidir.</p>

                          <p>Yarışma içerisinde herhangi bir cihaza veya sunucuya DoS/DDoS saldırısı gerçekleştirilmesi
                            diskalifiye sebebidir.</p>

                          <p>Etkinliğin yapıldığı yer ve CTF yarışma paneli sunucularına yapılacak DoS/DDoS, brute
                            force, SQL Injection gibi her türlü saldırıda bulunmak, bulunanlar ile işbirliği içerisinde
                            olmak veya teşebbüs etmek diskalifiye sebebidir. Sayılan saldırılar ve benzeri güvenlik
                            ihlallerinin tespiti halinde, her türlü zararı, ihlalde bulunduğu tespit edilen
                            yarışmacıdan talep etme hakkı ve ihlalin TCK ve diğer ilgili mevzuat kapsamında suç
                            oluşturması durumunda Cumhuriyet Savcılığı nezdinde suç duyurusunda bulunma hakkı saklıdır.</p>

                          <p>Sorular zorluk derecelerine göre farklı puanlara sahiptir. En çok puanı toplayan takım
                            yarışmayı kazanacaktır.</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>


      </div>
    </section>
    <!-- #categories -->




    <!-- SPONSORS -->
    <section id="sponsors">
      <h2 class="section-title text-center">2019 Sponsorları</h2>

      <div class="owl-carousel owl-theme sponsorOwl">
        <div class="item"><img (click)="openInNewTab('https://www.bilimsenligi.com')" src="assets/img/sponsors/bilimsenligi.png" /></div>
        <div class="item"><img (click)="openInNewTab('https://www.etiya.com/')" src="assets/img/sponsors/etiya_teknoloji_ile_ulastiracak_h5934.png" /></div>


      </div>
    </section>

    <!-- SPONSORS -->


    <!--==========================
      Facts Section
    ============================-->
    <section id="facts">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Sayılarla Code Of Duty</h3>

        </div>
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <h1 class="count1">48</h1>
            <p>Saat</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h1 class="count1">200</h1>
            <p>Katılımcı</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h1 class="count1">40</h1>
            <p>Ekip</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h1 class="count1">15</h1>
            <p> Oyun </p>
          </div>

        </div>

      </div>
    </section><!-- #facts -->



    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Geçtiğimiz Yıl Neler Oldu?</h3>
          <p class="section-description">Keşke geçtiğimiz yıl da aramızda olsaydın 😕 İşte kaçırdıkların:</p>
        </div>
        <div class="row">

          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter=".filter-cod" class="filter-active">COD</li>
              <li data-filter=".filter-buildup">Buildup</li>
              <li data-filter=".filter-brainhack">brainhack</li>
              <li data-filter=".filter-izhack">izhack</li>
              <li data-filter=".filter-cod, .filter-buildup, .filter-brainhack, .filter-izhack">Tümü</li>

            </ul>
          </div>
        </div>

        <div class="row" id="portfolio-wrapper">
          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <img src="assets/img/COD_IMAGES/CoD_new/1.jpg">
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a>
              <img src="assets/img/COD_IMAGES/CoD_new/2.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a>
              <img src="assets/img/COD_IMAGES/CoD_new/3.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a>
              <img src="assets/img/COD_IMAGES/CoD_new/4.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a>
              <img src="assets/img/COD_IMAGES/CoD_new/5.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a>
              <img src="assets/img/COD_IMAGES/CoD_new/6.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a>
              <img src="assets/img/COD_IMAGES/CoD_new/7.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a>
              <img src="assets/img/COD_IMAGES/CoD_new/8.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a>
              <img src="assets/img/COD_IMAGES/CoD_new/9.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a>
              <img src="assets/img/COD_IMAGES/CoD_new/10.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a>
              <img src="assets/img/COD_IMAGES/CoD_new/11.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a>
              <img src="assets/img/COD_IMAGES/CoD_new/12.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a>
              <img src="assets/img/COD_IMAGES/build_new/1.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a>
              <img src="assets/img/COD_IMAGES/build_new/2.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a>
              <img src="assets/img/COD_IMAGES/build_new/3.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a>
              <img src="assets/img/COD_IMAGES/build_new/4.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a>
              <img src="assets/img/COD_IMAGES/build_new/5.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a>
              <img src="assets/img/COD_IMAGES/build_new/6.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a>
              <img src="assets/img/COD_IMAGES/build_new/7.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a>
              <img src="assets/img/COD_IMAGES/build_new/8.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a>
              <img src="assets/img/COD_IMAGES/build_new/9.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a>
              <img src="assets/img/COD_IMAGES/build_new/10.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a>
              <img src="assets/img/COD_IMAGES/build_new/11.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a>
              <img src="assets/img/COD_IMAGES/build_new/12.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a>
              <img src="assets/img/COD_IMAGES/brainhack_new/1.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a>
              <img src="assets/img/COD_IMAGES/brainhack_new/2.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a>
              <img src="assets/img/COD_IMAGES/brainhack_new/3.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a>
              <img src="assets/img/COD_IMAGES/brainhack_new/4.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a>
              <img src="assets/img/COD_IMAGES/brainhack_new/5.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a>
              <img src="assets/img/COD_IMAGES/brainhack_new/6.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a>
              <img src="assets/img/COD_IMAGES/brainhack_new/7.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a>
              <img src="assets/img/COD_IMAGES/brainhack_new/8.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a>
              <img src="assets/img/COD_IMAGES/brainhack_new/9.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a>
              <img src="assets/img/COD_IMAGES/brainhack_new/10.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a>
              <img src="assets/img/COD_IMAGES/brainhack_new/11.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a>
              <img src="assets/img/COD_IMAGES/brainhack_new/12.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a>
              <img src="assets/img/COD_IMAGES/izhack_new/1.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a>
              <img src="assets/img/COD_IMAGES/izhack_new/2.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a>
              <img src="assets/img/COD_IMAGES/izhack_new/3.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a>
              <img src="assets/img/COD_IMAGES/izhack_new/4.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a>
              <img src="assets/img/COD_IMAGES/izhack_new/5.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a>
              <img src="assets/img/COD_IMAGES/izhack_new/6.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a>
              <img src="assets/img/COD_IMAGES/izhack_new/7.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a>
              <img src="assets/img/COD_IMAGES/izhack_new/8.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a>
              <img src="assets/img/COD_IMAGES/izhack_new/9.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a>
              <img src="assets/img/COD_IMAGES/izhack_new/10.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a>
              <img src="assets/img/COD_IMAGES/izhack_new/11.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a>
              <img src="assets/img/COD_IMAGES/izhack_new/12.jpg" alt="">
            </a>
          </div> 
        </div>

      </div>
      
    </section><!-- #portfolio -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Ekip</h3>
          <p class="section-description">Muhteşem ekibmizle tanışın!</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img id="ekin" src="assets/img/team/ekin.jpg" alt=""></div>
              <h4>Ekin SEDİR</h4>
              <span>General Coordinator</span>
              <a href="https://twitter.com/ekinsedir"><i class="fab fa-twitter-square fa-2x"></i></a>&nbsp;
              <a href="https://www.linkedin.com/in/ekinsedir/"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img id="ayca" src="assets/img/team/ayca.jpg" alt=""></div>
              <h4>Ayça AKSU</h4>
              <span> Mentor</span>
              <a href="https://twitter.com/IEEEIYTE"><i class="fab fa-twitter-square fa-2x"></i></a>&nbsp;
              <a href="https://www.linkedin.com/company/ieee-iztech-student-branch/"><i class="fab fa-linkedin fa-2x"></i></a>


            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="assets/img/team/14.jpg" alt=""></div>
              <h4>İrem Kulaksız</h4>
              <span>BuildUp Mentor</span>
              <a href="https://twitter.com/IEEEIYTE"><i class="fab fa-twitter-square fa-2x"></i></a>&nbsp;
              <a href="https://www.linkedin.com/company/ieee-iztech-student-branch/"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img id="alpcan" src="assets/img/team/alpcan.jpg" alt=""></div>
              <h4>Alpcan YILDIZ</h4>
              <span>BrainHack Mentor</span>
              <a href="https://twitter.com/UlpJuan"><i class="fab fa-twitter-square fa-2x"></i></a>&nbsp;
              <a href="https://www.linkedin.com/in/alpcan-yildiz-24829b15b/"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img id="burak" src="assets/img/team/burak.jpg" alt=""></div>
              <h4>Burak KURHAN</h4>
              <span>BrainHack Mentor</span>
              <a href="https://twitter.com/burakkurhan"><i class="fab fa-twitter-square fa-2x"></i></a>&nbsp;
              <a href="https://www.linkedin.com/in/ismail-burak-kurhan/"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img id="murat" src="assets/img/team/murat.jpg" alt=""></div>
              <h4>Murat ARSLAN</h4>
              <span>IzHack Mentor</span>
              <a href="https://twitter.com/Merg3nHan"><i class="fab fa-twitter-square fa-2x"></i></a>&nbsp;
              <a href="https://www.linkedin.com/in/murat-arslan-847943120/"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="assets/img/team/umut.jpg" alt=""></div>
              <h4>Umut ACERBAŞTİMUR</h4>
              <span>Webmaster</span>
              <a href="https://twitter.com/UAcerbastimur"><i class="fab fa-twitter-square fa-2x"></i></a>&nbsp;
              <a href="https://www.linkedin.com/in/umutacerbastimur/"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="assets/img/team/mazlum.jpg" alt=""></div>
              <h4>Mazlum TANRIKULU</h4>
              <span>Design</span>
              <a href="https://twitter.com/mazlumtanrkulu2"><i class="fab fa-twitter-square fa-2x"></i></a>&nbsp;
              <a href="https://www.linkedin.com/in/mazlum-tanr%C4%B1kulu-7609b7a7/"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
          </div>


        </div>

      </div>
    </section><!-- #team -->

    <!-- SPONSORS -->
    <section id="sponsors">
      <h2 class="section-title text-center">2018 Sponsorları</h2>

      <div class="owl-carousel owl-theme sponsorOwl">
        <div class="item"><img (click)="openInNewTab('https://www.bilimsenligi.com')" src="assets/img/sponsors/bilimsenligi.png" /></div>
        <div class="item"><img (click)="openInNewTab('https://www.etiya.com/')" src="assets/img/sponsors/etiya_teknoloji_ile_ulastiracak_h5934.png" /></div>
        <div class="item"><img (click)="openInNewTab('http://www.linovi.com/')" src="assets/img/sponsors/linovi.png" /></div>
        <div class="item"><img (click)="openInNewTab('https://canyoupwn.me/')" src="assets/img/sponsors/Logo-2-1.png" /></div>
        <div class="item"><img (click)="openInNewTab('http://www.egebirlik.org.tr/')" src="assets/img/sponsors/logwerqo.png" /></div>
        <div class="item"><img (click)="openInNewTab('https://octosec.net/')" src="assets/img/sponsors/octosec.png" /></div>
        <div class="item"><img (click)="openInNewTab('https://pluscloud.nl/en/')" src="assets/img/sponsors/plusclouds-logo.png" /></div>
        <div class="item"><img (click)="openInNewTab('https://shiftdelete.net/')" src="assets/img/sponsors/sdn-logo.png" /></div>
        <div class="item"><img (click)="openInNewTab('http://sitoplazma.com/')" src="assets/img/sponsors/sitoplazma.png" /></div>
        <div class="item"><img (click)="openInNewTab('https://www.turktelekom.com.tr/Sayfalar/Ana-Sayfa.aspx')" src="assets/img/sponsors/ttnet-e-iki-uluslararasi-odul-birden.png" /></div>
        <div class="item"><img (click)="openInNewTab('https://www.imza.com/')" src="assets/img/sponsors/twgg.png" /></div>
        <div class="item"><img (click)="openInNewTab('https://www.webtekno.com/')" src="assets/img/sponsors/webtekno-logo.png" /></div>
        <div class="item"><img (click)="openInNewTab('http://www.parta.com.tr/')" src="assets/img/sponsors/parta.png" /></div>
        <div class="item"><img (click)="openInNewTab('http://www.biletbayi.com/')" src="assets/img/sponsors/biletbayi.jpg" /></div>

      </div>
    </section>

    <!-- SPONSORS -->



  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-6">
        <div id="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3130.3090736826657!2d26.639131000000003!3d38.318673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bb905952044137%3A0xc662faa08acdf9d0!2zxLB6bWlyIFnDvGtzZWsgVGVrbm9sb2ppIEVuc3RpdMO8c8O8!5e0!3m2!1str!2s!4v1432678286820"
            frameborder="0" style="border:0;height:50vh;width:100%"></iframe>
        </div>
      </div>

      <div class="col-3">
        <div>
          <b>İYTE - IEEE Öğrenci Topluluğu</b><br>
          İzmir Yüksek Teknoloji Enstitüsü<br>Gülbahçe Kampüsü Urla, İzmir<br>
          <a href="http://ieee.iyte.edu.tr" target="_blank">ieee.iyte.edu.tr</a><br>
          <a href="https://www.facebook.com/IEEEIYTE/" target="_blank">facebook</a><br>
          <a href="https://twitter.com/IEEEIYTE" target="_blank">twitter</a><br>
          <a href="https://www.linkedin.com/company/ieee-iztech-student-branch/" target="_blank">linkedin</a><br>
          <img alt="" src="assets/img/sponsors/ieee.png">
        </div>
        <div class="clear"></div>
        <p class="text-center"> Copyright 2018, Code of Duty. Tüm Hakları Saklıdır.
        </p>
      </div>
      <div class="col-2"></div>
    </div>


  </footer><!-- #footer -->

  <a class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- The Modal -->
  <div id="myModal" (click)="unrender()" class="modal">
    <img class="modal-content" id="img01">
  </div>

</body>


</html>