<!DOCTYPE html>
<html lang="en">



<body ondragstart="return false" draggable="false" ondragenter="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();"
  ondragover="event.dataTransfer.dropEffect='none';event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect='none';event.stopPropagation(); event.preventDefault();">


  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left noselect">
        <a href="#hero"><img id="codeLogo" src="assets/img/logo.svg" alt="" title="" /> </a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active noselect"><a style="color:aliceblue;" (click)="scroll('#hero')">Home</a></li>
          <li class="noselect"><a style="color:aliceblue;" (click)="scroll('#about')">About Us</a></li>
          <li class="noselect"><a style="color:aliceblue;" (click)="scroll('#categories')">Categories</a></li>
          <li class="noselect"><a style="color:aliceblue;" (click)="scroll('#sponsors')">Sponsors</a></li>
          <li class="noselect"><a style="color:aliceblue;" (click)="scroll('#team')">Team</a></li>
          <li class="noselect"><a style="color:aliceblue;">FAQ</a></li>

          <li class="noselect"><a style="color:aliceblue;" (click)="scroll('#contact')">Contact</a></li>
          <li class="noselect"><a style="color:rgb(198, 64, 54)"><b>TR</b></a></li>



        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <div class="socialContainer">
    <ul class="social">
      <li>
        <a href="https://twitter.com/ieeecodeofduty" class="tw">
          <i class="fab fa-twitter-square"></i>

        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/IztechCodeofDuty" class="fb">
          <i class="fab fa-facebook-square"></i>

        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/iztechcodeofduty/" class="ins">
          <i class="fab fa-instagram"></i>

        </a>
      </li>
    </ul>
  </div>





  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
      <div class="clickMe" ondragstart="return false" draggable="false" ondragenter="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();"
      ondragover="event.dataTransfer.dropEffect='none';event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect='none';event.stopPropagation(); event.preventDefault();">Click for Wind</div>

    <div class="hero-container">
      <h1 class="headerText noselect">Welcome to Code of Duty</h1>
      <h2 class="welcomingText noselect">We are getting ready for a better future 😄</h2>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScfK6Jb-N7BWdw7mpM5sLI86heehoWvB75csLb6wceZkDnLWg/viewform?usp=send_form"
        target="_blank" class="btn-get-started noselect">LET'S JOIN US!</a>
    </div>


    <!--==========================
    Game Section
  ============================-->
    <div id="world"></div>
    <!--==========================
    Game Section
  ============================-->

  </section><!-- #hero -->


  <main id="main">
    <div class="owlContainer">
      <div id="testimonial-slider" class="owl-carousel  owl-theme">

        <div class="testimonial">
          <div class="aaa">

            <p>Etkinlikteki program akışı için tıklanıyınız. </p>
          </div>
        </div>

        <div class="testimonial">
          <div class="aaa">
            <p>Niyet mektubu örneği için tıklayınız. </p>
          </div>
        </div>

        <div class="testimonial">
          <div class="aaa">
            <p>Dereceye giren olan ve Hacktrick
              etkinliğinde kazanacaktır.</p>
          </div>
        </div>

        <div class="testimonial">
          <div class="aaa">

            <p>2018 yılı için başvurular sona ermiştir. </p>
          </div>
        </div>

      </div>
    </div>

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 text-center">
            <p class="aboutUsHeader"> About Us</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <br>
            <p class="aboutText">IEEE İYTE öğrenci topluluğu tarafından 9-10-11 Mart 2018 tarihinde ilki düzenlenecek
              olan etkinliğimiz Code of Duty, heyecanlı bir ortam yaratarak
              yazılım alanıyla ilgilenen kişilere birbirleriyle mücadele etme ve bununla birlikte Türkiye’nin her
              kesiminden öğrencileri ve yazılım sektörünü bir
              araya getirerek tanışma fırsatı sunan bir oluşumdur.</p>
            <br>
            <p class="aboutText">IEEE İYTE öğrenci topluluğu tarafından 9-10-11 Mart 2018 tarihinde ilki düzenlenecek
              olan etkinliğimiz Code of Duty, heyecanlı bir ortam yaratarak
              yazılım alanıyla ilgilenen kişilere birbirleriyle mücadele etme ve bununla birlikte Türkiye’nin her
              kesiminden öğrencileri ve yazılım sektörünü bir
              araya getirerek tanışma fırsatı sunan bir oluşumdur.</p>
          </div>
        </div>


      </div>


      <!-- #about -->


    </section>

    <!-- #categories -->
    <section id="categories">

      <div>

        <div style="margin-bottom: 4vh" class="row">
          <div class="col-lg-12 text-center">
            <p class="categoriesHeader"> Categories</p>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-lg-4">
            <div class="card" style="width: 25rem;">
              <div class="card-img-top"></div>
              <div class="card-body">
                <h4 class="card-title">BrainHack</h4>
                <p class="card-text">Use these styles to create a slick, anguluar-looking Bootstrap 4 card element that
                  doesn't distort your content.</p>
                <button type="button" class="brainBtn" data-toggle="modal" data-target="#brain">Details</button>

                <!-- Modal -->
                <div class="modal fade" id="brain" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        brain
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card" style="width: 25rem;">
              <div class="card-img-top2"></div>
              <div class="card-body">
                <h4 class="card-title">BuildUp</h4>
                <p class="card-text">Use these styles to create a slick, anguluar-looking Bootstrap 4 card element that
                  doesn't distort your content.</p>
                <button class="buildBtn" data-toggle="modal" data-target="#build">Details</button>


                <!-- Modal -->
                <div class="modal fade" id="build" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        build
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card" style="width: 25rem;">
              <div class="card-img-top3"></div>
              <div class="card-body">
                <h4 class="card-title">IzHACK</h4>
                <p class="card-text">Use these styles to create a slick, anguluar-looking Bootstrap 4 card element that
                  doesn't distort your content.</p>
                <button class="hackBtn" data-toggle="modal" data-target="#hack">Details</button>
                <!-- Modal -->
                <div class="modal fade" id="hack" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        hack
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>


      </div>
    </section>
    <!-- #categories -->

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Code Of Duty With numbers</h3>
          <p class="section-description">Here are numbers of Code of Duty'18</p>
        </div>
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <h1 class="count1">136</h1>
            <p>Participant</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h1 class="count1">23</h1>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h1 class="count1">48</h1>
            <p>Hours Of Hack</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h1 class="count1">10.200</h1>
            <p> Price of distributed ₺</p>
          </div>

        </div>

      </div>
    </section><!-- #facts -->



    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">What Happened last year?</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque</p>
        </div>
        <div class="row">

          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter=".filter-cod" class="filter-active">COD</li>
              <li data-filter=".filter-buildup">Buildup</li>
              <li data-filter=".filter-brainhack">brainhack</li>
              <li data-filter=".filter-izhack">izhack</li>
              <li data-filter=".filter-cod, .filter-buildup, .filter-brainhack, .filter-izhack">All</li>

            </ul>
          </div>
        </div>

        <div class="row" id="portfolio-wrapper">
          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
              <img  src="assets/img/COD_IMAGES/CoD_new/1.jpg">
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a >
              <img src="assets/img/COD_IMAGES/CoD_new/2.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a >
              <img src="assets/img/COD_IMAGES/CoD_new/3.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a >
              <img src="assets/img/COD_IMAGES/CoD_new/4.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a >
              <img src="assets/img/COD_IMAGES/CoD_new/5.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a >
              <img src="assets/img/COD_IMAGES/CoD_new/6.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a >
              <img src="assets/img/COD_IMAGES/CoD_new/7.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a >
              <img src="assets/img/COD_IMAGES/CoD_new/8.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a >
              <img src="assets/img/COD_IMAGES/CoD_new/9.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a >
              <img src="assets/img/COD_IMAGES/CoD_new/10.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a >
              <img src="assets/img/COD_IMAGES/CoD_new/11.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-cod">
            <a >
              <img src="assets/img/COD_IMAGES/CoD_new/12.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a >
              <img src="assets/img/COD_IMAGES/build_new/1.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a >
              <img src="assets/img/COD_IMAGES/build_new/2.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a >
              <img src="assets/img/COD_IMAGES/build_new/3.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a >
              <img src="assets/img/COD_IMAGES/build_new/4.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a >
              <img src="assets/img/COD_IMAGES/build_new/5.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a >
              <img src="assets/img/COD_IMAGES/build_new/6.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a >
              <img src="assets/img/COD_IMAGES/build_new/7.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a >
              <img src="assets/img/COD_IMAGES/build_new/8.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a >
              <img src="assets/img/COD_IMAGES/build_new/9.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a >
              <img src="assets/img/COD_IMAGES/build_new/10.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a >
              <img src="assets/img/COD_IMAGES/build_new/11.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-buildup">
            <a >
              <img src="assets/img/COD_IMAGES/build_new/12.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a >
              <img src="assets/img/COD_IMAGES/brainhack_new/1.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a >
              <img src="assets/img/COD_IMAGES/brainhack_new/2.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a >
              <img src="assets/img/COD_IMAGES/brainhack_new/3.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a >
              <img src="assets/img/COD_IMAGES/brainhack_new/4.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a >
              <img src="assets/img/COD_IMAGES/brainhack_new/5.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a >
              <img src="assets/img/COD_IMAGES/brainhack_new/6.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a >
              <img src="assets/img/COD_IMAGES/brainhack_new/7.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a >
              <img src="assets/img/COD_IMAGES/brainhack_new/8.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a >
              <img src="assets/img/COD_IMAGES/brainhack_new/9.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a >
              <img src="assets/img/COD_IMAGES/brainhack_new/10.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a >
              <img src="assets/img/COD_IMAGES/brainhack_new/11.jpg" alt="">
            </a>
          </div>


          <div class="col-lg-3 col-md-6 portfolio-item filter-brainhack">
            <a >
              <img src="assets/img/COD_IMAGES/brainhack_new/12.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a >
              <img src="assets/img/COD_IMAGES/izhack_new/1.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a >
              <img src="assets/img/COD_IMAGES/izhack_new/2.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a >
              <img src="assets/img/COD_IMAGES/izhack_new/3.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a >
              <img src="assets/img/COD_IMAGES/izhack_new/4.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a >
              <img src="assets/img/COD_IMAGES/izhack_new/5.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a >
              <img src="assets/img/COD_IMAGES/izhack_new/6.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a >
              <img src="assets/img/COD_IMAGES/izhack_new/7.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a >
              <img src="assets/img/COD_IMAGES/izhack_new/8.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a >
              <img src="assets/img/COD_IMAGES/izhack_new/9.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a >
              <img src="assets/img/COD_IMAGES/izhack_new/10.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a >
              <img src="assets/img/COD_IMAGES/izhack_new/11.jpg" alt="">
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-izhack">
            <a >
              <img src="assets/img/COD_IMAGES/izhack_new/12.jpg" alt="">
            </a>
          </div>





        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Team</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img id="ekin" src="assets/img/team/ekin.jpg" alt=""></div>
              <h4>Ekin SEDİR</h4>
              <span>General Coordinator</span>
              <a href="https://twitter.com/ekinsedir"><i class="fab fa-twitter-square fa-2x"></i></a>&nbsp;
              <a href="https://www.linkedin.com/in/ekinsedir/"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img id="ayca" src="assets/img/team/ayca.jpg" alt=""></div>
              <h4>Ayça AKSU</h4>
              <span> Mentor</span>
              <a href="https://twitter.com/IEEEIYTE"><i class="fab fa-twitter-square fa-2x"></i></a>&nbsp;
              <a href="https://www.linkedin.com/company/ieee-iztech-student-branch/"><i class="fab fa-linkedin fa-2x"></i></a>


            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img id="alpcan" src="assets/img/team/alpcan.jpg" alt=""></div>
              <h4>Alpcan YILDIZ</h4>
              <span>BrainHack Mentor</span>
              <a href="https://twitter.com/UlpJuan"><i class="fab fa-twitter-square fa-2x"></i></a>&nbsp;
              <a href="https://www.linkedin.com/in/alpcan-yildiz-24829b15b/"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img id="burak" src="assets/img/team/burak.jpg" alt=""></div>
              <h4>Burak KURHAN</h4>
              <span>BrainHack Mentor</span>
              <a href="https://twitter.com/burakkurhan"><i class="fab fa-twitter-square fa-2x"></i></a>&nbsp;
              <a href="https://www.linkedin.com/in/ismail-burak-kurhan/"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img id="murat" src="assets/img/team/murat.jpg" alt=""></div>
              <h4>Murat ARSLAN</h4>
              <span>IzHack Mentor</span>
              <a href="https://twitter.com/Merg3nHan"><i class="fab fa-twitter-square fa-2x"></i></a>&nbsp;
              <a href="https://www.linkedin.com/in/murat-arslan-847943120/"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="assets/img/team/umut.jpg" alt=""></div>
              <h4>Umut ACERBAŞTİMUR</h4>
              <span>Webmaster</span>
              <a href="https://twitter.com/UAcerbastimur"><i class="fab fa-twitter-square fa-2x"></i></a>&nbsp;
              <a href="https://www.linkedin.com/in/umutacerbastimur/"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="assets/img/team/mazlum.jpg" alt=""></div>
              <h4>Mazlum TANRIKULU</h4>
              <span>Design</span>
              <a href="https://twitter.com/mazlumtanrkulu2"><i class="fab fa-twitter-square fa-2x"></i></a>&nbsp;
              <a href="https://www.linkedin.com/in/mazlum-tanr%C4%B1kulu-7609b7a7/"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #team -->

    <!-- SPONSORS -->
    <section id="sponsors">
      <div class="owl-carousel owl-theme sponsorOwl">
        <div class="item"><img (click)="openInNewTab('https://www.bilimsenligi.com')" src="assets/img/sponsors/bilimsenligi.png" /></div>
        <div class="item"><img (click)="openInNewTab('https://www.etiya.com/')"  src="assets/img/sponsors/etiya_teknoloji_ile_ulastiracak_h5934.jpg" /></div>
        <div class="item"><img (click)="openInNewTab('http://www.linovi.com/')"  src="assets/img/sponsors/linovi.png" /></div>
        <div class="item"><img (click)="openInNewTab('https://canyoupwn.me/')"  src="assets/img/sponsors/Logo-2-1.png" /></div>
        <div class="item"><img (click)="openInNewTab('http://www.egebirlik.org.tr/')"  src="assets/img/sponsors/logwerqo.png" /></div>
        <div class="item"><img (click)="openInNewTab('https://octosec.net/')"  src="assets/img/sponsors/octosec.png" /></div>
        <div class="item"><img (click)="openInNewTab('https://pluscloud.nl/en/')"  src="assets/img/sponsors/plusclouds-logo.png" /></div>
        <div class="item"><img (click)="openInNewTab('https://shiftdelete.net/')"  src="assets/img/sponsors/sdn-logo.png" /></div>
        <div class="item"><img (click)="openInNewTab('http://sitoplazma.com/')"  src="assets/img/sponsors/sitoplazma.png" /></div>
        <div class="item"><img (click)="openInNewTab('https://www.turktelekom.com.tr/Sayfalar/Ana-Sayfa.aspx')"  src="assets/img/sponsors/ttnet-e-iki-uluslararasi-odul-birden.jpg" /></div>
        <div class="item"><img (click)="openInNewTab('https://www.imza.com/')"  src="assets/img/sponsors/twgg.png" /></div>
        <div class="item"><img (click)="openInNewTab('https://www.webtekno.com/')"  src="assets/img/sponsors/webtekno-logo.png" /></div>
        <div class="item"><img (click)="openInNewTab('http://www.parta.com.tr/')"  src="assets/img/sponsors/parta.png" /></div>

      </div>
    </section>

    <!-- SPONSORS -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Contact</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque</p>
        </div>
      </div>


      <div class="container wow fadeInUp">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>A108 Adam Street<br>New York, NY 535022</p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p>info@example.com</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p>+1 5589 55488 55s</p>
              </div>
            </div>

            <div class="social-links">
              <a  class="twitter"><i class="fa fa-twitter"></i></a>
              <a  class="facebook"><i class="fa fa-facebook"></i></a>
              <a  class="instagram"><i class="fa fa-instagram"></i></a>
              <a  class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a  class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="#" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email"
                    data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4"
                    data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"
                    placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

        </div>
      </div>
    </div>


  </footer><!-- #footer -->

  <a  class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- The Modal -->
<div id="myModal" (click)="unrender()" class="modal">
     <img class="modal-content" id="img01">
   </div>

</body>

 
</html>